fastapi
uvicorn[standard]
python-multipart
sqlalchemy
psycopg[binary]
pydantic-settings
celery
redis
opencv-python-headless
numpy
faiss-cpu
torch
torchvision
kornia
python-dotenv
boto3
azure-storage-blob
